{% extends 'base.html' %}

{% block content %}
    <main>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipt_set.count }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}
