<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="=X-UA-Compatible" content="IE=egde">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Receipt List</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'create_receipt' %}">New Receipt</a></li>
            <li><a href="{% url 'create_category' %}">New Expense Category</a></li>
            <li><a href="{% url 'category_list' %}">All Categories</a></li>
            <li><a href="{% url 'create_account' %}">New Account</a></li>
            <li><a href="{% url 'account_list' %}">All Accounts</a></li>
</nav>
</header>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
