{% extends 'base.html' %}

{% block content %}
<main>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.number }}</td>
                    <td>{{ account.receipt_set.count }}</td>
                </tr>
            {% endfor %}
        </table>
            </main>


{% endblock %}
