<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="=X-UA-Compatible" content="IE=egde">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Accounts</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
